<head>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>

<body>
	<div id=welcomeBox>
		<br/>
		<h1>Calendar Application</h1>
		<br/>
		<p>
			This is our simple user interface for the calendar application. For now, the login and register buttons
			do the same thing. Just click on one of those to proceed.
			<br/>
		</p>
		<br/>
		<span id=login>	
		<a href="@{Application.index()}">login</a> or <a href="@{Application.index()}">register</a>
		</span>
	</div>
</body>