#{extends 'main.html' /}

<body>
<div id=wrapper>
	
	<div id=userBox>
		<div id=displayCalendar>
			<a href="@{Application.displayCalendar(user.name, calendar.name, monthname, year, month-1, days)}"><</a>
			${monthname} ${year}
			<a href="@{Application.displayCalendar(user.name, calendar.name, monthname, year, month+1, days)}">></a>
			<div id=calendar>
				#{list days, as:'day'}
				
				<div #{if calendar.isToday(day)} id=today #{/if}
				#{if calendar.dayHasEvent(day)}
				id=dayHasEvent
				#{/if}
				>${day.format('dd')}</div>
				#{/list}
			</div>
		
		</div>
	
	</div>
	<div id=logout_back>
		<div id=logout>
		<a href="@{Secure.logout()}">logout</a>
		</div>
		<div id=back>
		<a href="@{Application.index}"><<</a>
		</div>
	</div>
	
</div>
</body>