#{extends 'main.html' /}
#{set title:'Home' /}

<head>
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>

<body>
<div id=wrapper>
	<div id=userBox>
		<div id=displayCalendars>
		<h2>Your Calendars</h2>
		#{list items:cals, as:'cal'}
			<p>
			<a href="@{Application.displayEvents(user.name, cal.name)}">${cal.name} Calendar</a>
			</p>
		#{/list}
		</div>
		
		<div id=createCalendar>
		<h2>Create a new Calendar</h2>
			#{form @Application.createCalendar()}
				<p>
					<label for="calendarName">Calendar Name: </label> <br/>
					<input type="text" name="calendarName"/>
					<input type="submit" value="create Calendar">
				</p>
			#{/form}
		</div>
	</div>
	
	<div id=otherUsers>
	<h2>Other users</h2>
	#{list items:users, as:'user'}
		<p>
			<a href="@{Application.displayCalendars(user.name)}">${user.name}</a> 
		</p>
	#{/list}
	</div>
	
	<div id=logout>
	<a href="@{Secure.logout()}">logout</a>
	</div>
</div>
</body>