#{extends 'main.html' /}
#{set title:'Home' /}

<head>
</head>
<body>

<div id=wrapper>
	<div id=navigation>
		<ul>
	    <li><a href="@{Application.index()}">Home</a></li> 
	    <li><a href="#">My Calendars</a> 
	      <ul> 
	        #{list cals, as:'calendar'}
				<li><a href="@{Application.displayCalendar(user.name, calendar.name, monthname, year, month, days, activeDay)}">${calendar.name} Calendar</a></li>
			#{/list} 
	      </ul> 
	    </li> 
	    <li><a href="#">Other Users</a> 
		   	<ul>
		    	#{list users, as:'otherUser'}
					<li><a href="@{Application.displayCalendars(otherUser.name)}">${otherUser.name}</a></li>
				#{/list}
		    </ul> 
	    </li> 
	  </ul>
	</div>
	
	<div id=userBox>
		<div id=displayCalendars>
		<h2>Your Calendars</h2>
		  	#{list items:cals, as:'cal'}
				<p>
					<a href="@{Application.displayCalendar(user.name, cal.name, monthname, year, month, days, activeDay)}">${cal.name} Calendar</a>
				</p>
			#{/list}
		</div>
		
		<div id=createCalendar>
		<h2>Create a new Calendar</h2>
			#{form @Application.createCalendar()}
				<p>
					<label for="calendarname">Calendar Name: </label> <br/>
					<input type="text" name="calendarname"/>
					<input type="submit" value="create Calendar">
				</p>
			#{/form}
		</div>
	</div>
	
	<div id=otherUsers>
		<h2>Other users</h2>
		#{list items:users, as:'user'}
			<p>
				<a href="@{Application.displayCalendars(user.name, calendar.name, monthname, year, month, days, activeDay)}">${user.name}</a> 
			</p>
		#{/list}
	</div>
	<div id=logout_back>
		<div id=logout>
			<a href="@{Secure.logout()}">logout</a>
		</div>
	</div>
</div>
</body>