h1, h2 {
	
}

A:LINK {
	text-decoration: none;
	color: navy;
}

A:ACTIVE {
	color: red;
}

A:HOVER {
	text-decoration: underline;
}

body {
	background: black;
	font-family: sans-serif;
	margin: 0 auto;
}

#wrapper {
	width:750px;
	height:500px;
	position: absolute;
	top: 38%;
	left:55%;
	margin-top:-250px;
	margin-left:-400px;
}

#welcomeBox {
	background: white;
	border: 4px solid grey;
	max-width: 500px;
	min-height: 533px;
	margin: auto;
	text-align: center;
	margin-top: 50px;
	padding: 20px;
	top: 20px;
	left: 380px;
}

#login {
	max-width: 40px;
	font-size: 25;
	padding: 8px;
}

#userBox {
	position: absolute;
	top: 20px;
	left: 20px;
}

#displayCalendars {
	margin: auto;
	background: white;
	border: 4px solid grey;
	padding: 20px;
	width: 300px;
	min-height: 200px;
	margin-bottom: 14px;
}

#createCalendar {
	background: white;
	border: 4px solid grey;
	padding: 20px;
	max-width: 300px;
	top: 280px;
	clear: left;
}

#otherUsers {
	background: white;
	border: 4px solid grey;
	min-width: 195px;
	min-height: 382px;
	position: absolute;
	padding: 20px;
	top: 20px;
	left: 380px;
}

#displayEvents {
	background: white;
	border: 4px solid grey;
	padding: 20px;
	min-width: 300px;
	min-height: 200px;
	margin-bottom: 14px;
}

#createEvents {
	background: white;
	border: 4px solid grey;
	padding: 20px;
	top: 280px;
	left: 20px;
	clear: left;
}

#logout {
	background: white;
	border: 4px solid grey;
	text-align: center;
	padding: 10px;
	min-width: 50px;
	position: absolute;
	top: 20px;
	left: 635px;
}

#back {
	background: white;
	border: 4px solid grey;
	text-align: center;
	padding: 10px;
	min-width: 50px;
	position: absolute;
	top: 70px;
	left: 635px;
}