html, body {
    background: #000000;
    font-family: 'Lucida grande', verdana, sans-serif;
}

h1 {
	text-align: center;
}

A:LINK {
	text-decoration: none;
}

A:HOVER {
	text-decoration: underline;
}

#loginBox {
	background: white;
	border: 4px solid grey;
	max-width: 500px;
	min-height: 533px;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	top: 20px;
	left: 380px;
}

#loginInfos {
	font-family: sans-serif;
	font-size: 11pt;
	padding: 10px;
	border: 6px ridge red;
	margin: auto;
	width: 400px;
	height: 100px;
	positon: absolute;
	
}

#login {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

#login h1 {
    font-weight: bold;
    color: #444444;
}

#login form {
    padding: 10px;
    text-align: left;
}

#login form p {
    margin: 3px;
}

#username-field {
    margin-top: 10px !important;
}

#username-field label, #password-field label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #555;
    font-size: 15px;
}

#username-field input {
    width: 200px;
    font-size: 13px;
}

#password-field input {
    width: 150px;
    font-size: 13px;
}

#remember-field input {
    margin-left: 155px;
}

#remember-field {
    font-size: 12px;
    color: #555;
}

#input-field input {
    margin-left: 155px;
    margin-top: 10px;
}

#back {
	text-align: center;
	padding: 10px;
	margin-top: 50px;
	min-width: 50px;
	position: relative;
	top: -160px;
}

#newAccount-field input {
    margin-left: 155px;
    margin-top: 10px;
}

#login .error, #login .success  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#login .error {
    background: #c00 !important;
}

#login .success {
    background: #008800 !important;
}
